@model BlogCore.Modelos.ViewModels.ArticuloViewModel

@{
    ViewData["Title"] = "Crear Artículo";
}

<br />
<br />

<h3 class="text-center">Crear un nuevo Artículo</h3>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingrese el nombre" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Descripcion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Descripcion" class="form-control" placeholder="Ingrese la descripción" />
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label for="Categoría">Categoría</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(
                             c => c.Articulo.CategoriaId,
                             Model.ListaCategorias,
                             " - Por favor seleccione una categoría -",
                             new { @class = "form-control" }
                             )
                    <span asp-validation-for="Articulo.CategoriaId" class="text-bg-danger"></span>
                </div>
            </div>
            
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.URLImagen"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control"  />
                    <span asp-validation-for="Articulo.URLImagen" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}